@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
:root {
  --lg: 1024px;
  --md: 768px;
  --sm: 640px;
  --page-top: 128px;
  --page-width: 1072px;
  --content-width: 640px;
  --body-margin-left: max(24px, env(safe-area-inset-left));
  --body-margin-right: max(24px, env(safe-area-inset-right));
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  margin: 0;
  min-height: 100vh;
  padding: 0;
  font-family: var(--font-sans), sans;
  font-size: 1rem;
  line-height: 1.75rem;
  letter-spacing: 0em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--page-background);
  color: var(--text-second);
  > .blur-layer {
    --h: min(96px, var(--page-top));
    position: fixed;
    z-index: 1;
    top: 0;
    width: calc(100% + var(--body-margin-left) + var(--body-margin-right));
    height: var(--h);
    margin-bottom: calc(-1 * var(--h));
    margin-left: calc(-1 * var(--body-margin-left));
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    -webkit-mask-image: linear-gradient(to bottom, #000000 25%, transparent);
    mask-image: linear-gradient(to bottom, #000000 25%, transparent);
    opacity: 0.95;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  > .container {
    width: 100%;
    padding-right: var(--body-margin-right);
    padding-left: var(--body-margin-left);
    > .main {
      margin-left: auto;
      margin-right: auto;
      max-width: var(--content-width);
      padding-top: var(--page-top);
      padding-bottom: var(--page-top);
    }
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
